.buttonInvisible {
  height: 40px;
  display: flex;
  align-items: center;
  border: none;
  width: 100%;
}

.buttonInvisibleWithDefaultList {
  cursor: default;
}

.paragraph {
  margin-left: 10px;
}
