.wrapper {
  display: flex;
  font-size: 1rem;
  height: 10px;
  align-items: center;
  margin: 20px 0;
}

.buttonAddTask {
  display: flex;
  border-radius: 10px;
  padding: 5px;
  width: 90%;
  border: none;
  color: var(--blue);
}

.buttonAddTask:hover {
  background-color: var(--blue-transparent);
}
