.daysLeft {
  background-color: transparent;
}

.daysLeftMessage {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: norap;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 5px;
}

.daysLeftMessageExpired {
  color: var(--red);
}

.daysLeftMessage:hover {
  border-bottom: none;
  cursor: pointer;
}

.daysLeftMessage:not(:focus):hover {
  border-bottom: none;
}
