.inputCheckbox {
  appearance: none;
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border: 2px solid rgb(150, 150, 150);
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.inputCheckbox:hover {
  background-color: transparent;
  border-color: transparent;
  border-bottom: none;
}

.inputCheckbox:not(:focus):hover {
  border-bottom: none;
}

.inputCheckbox::before {
  content: "check";
  font-family: "Material Symbols Outlined";
  font-size: 1.5rem;
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inputCheckbox:hover::before {
  color: var(--blue);
}

.inputCheckbox:checked {
  background-color: transparent;
  border-color: transparent;
}

.inputCheckbox:checked::before {
  color: var(--blue);
}
