.inputTitle {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  background-color: transparent;
}

.inputTitle:hover {
  border-bottom: none;
}

.inputTitle:not(:focus):hover {
  border-bottom: none;
}

.inputTitle:focus {
  border-bottom: none;
}
