.wrapper {
  width: 130px;
  position: absolute;
  top: 0;
  right: 50px;
  height: 95%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: flex;
  align-items: flex-start;
}

.delete {
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  width: 100%;
}

.info {
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  width: 100%;
}
